.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  max-width: 470px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  color: var(--mainColor);
  font-family: Comfortaa, sans-serif;
  margin: 0 auto;
}

.App-header .menu-btn {
  align-self: center;
  cursor: pointer;
  margin-left: 10px;
  padding: 8px;
  border: 1px solid var(--mainColor);
  border-radius: 5px;
}

.App-header .menu-btn .line-1,
.App-header .menu-btn .line-2,
.App-header .menu-btn .line-3 {
  background-color: var(--mainColor);
  width: 30px;
  height: 4px;
  margin: 3px 0;
  border-radius: 2px;
}

.App-header h1 {
  display: inline-block;
  font-size: 1.75rem;
  margin-left: 10px;
}

.level {
  font-size: 0.75rem;
  padding: 5px 10px;
  margin: 0 10px 0;
  /* align-self: flex-start; */
  background-color: var(--mainColor);
  color: #282c34;
  border-radius: 3px;
}

@media only screen and (max-width: 900px) {
  .App-header {
    min-height: 8vh;
    padding: 10px 0 20px 0;
    align-items: baseline;
  }
  .App-header h1 {
    font-size: 1.65rem;
  }
  .level {
    align-self: flex-start;
  }
}
