.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: antiquewhite;
  font-family: Comfortaa, sans-serif;
  font-size: 4em;
}

@media only screen and (max-width: 900px) {
  .App-header {
    min-height: 8vh;
    font-size: 1.8em;
    padding-top: 10px;
  }
}
