.single-card {
  height: 100px;
  width: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 15px;
}

.selected-card {
  background-color: hotpink;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  max-width: 620px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.scoreboard {
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .single-card {
    height: 70px;
    width: 19%;
    margin: 5px;
  }
  .scoreboard {
    width: 80%;
  }
}
