.backdrop-filter {
  background-color: #282c34;
  min-height: 80vh;
  position: absolute;
  top: 15%;
  opacity: 0.98;
}

.dropdown-menu {
  height: 250px;
  padding: 20px;
  border-radius: 15px;
  font-size: 1.75rem;
  width: 100%;
  min-width: 475px;
  background-color: var(--accentColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: appear 0.5s ease-in;
}

.disappear {
  animation: disappear 0.5s ease-in;
}

.dropdown-menu a {
  border-bottom: 1px solid var(--mainColor);
  margin: 0;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
  color: var(--mainColor);
}

.dropdown-menu a:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 900px) {
  .backdrop-filter {
    top: 12%;
    width: 100%;
  }
  .dropdown-menu {
    width: 90%;
    margin: 10px auto;
    min-width: 0px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes disappear {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}
