.confetti-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.final-winner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.winner-modal {
  color: var(--mainColor);
  background-color: var(--accentColor);
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
  font-family: Comfortaa, sans-serif;
}

.winner-modal .winner-msg {
  border-bottom: 1px solid;
}

.winner-modal .top-scores {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  width: 80%;
  margin: 0 auto;
  padding: 8px 0;
}

.winner-modal .top-scores .levels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

h2 {
  margin: 10px 0;
}

.winner-modal .top-scores h3 {
  padding: 0;
  margin: 10px 0;
}

h3 {
  width: 100%;
}

.confetti-ctr button,
.final-winner button {
  color: var(--accentColor);
  border: none;
  box-shadow: 0 2px 4px black;
  background-color: var(--mainColor);
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 1.5rem;
  cursor: pointer;
}
